<script>fbq('track', 'InitiateCheckout');</script>
<h2 class="checkout-section-header">The Best French Press, Available Now</h2>
<p class="section-text">Offering the best of all worlds: reliability, style, and value.</p>
<ul class="checkout-list">
    <li>Premium metal build.</li>
    <li>Indulge in style. We iterated on our design after months of feedback. Feel confident that your coffee will taste its best.</li>
    <li>Wholesale pricing. We don't distribute through third party retailers. This allows us to sell at the lowest price possible. Consumers enjoy!</li>
</ul>