{% extends "base.html" %}
{% set intro = product + "/" + product + "_0" + ".html" %}
{% set productbackground = "product-home-" + product %}
{% set section1 = product + "/" + product + "_1" + ".html" %}
{% set section2 = product + "/" + product + "_2" + ".html" %}
{% set section3 = product + "/" + product + "_3" + ".html" %}
{% set imgpath0 = "/static/build/img/" + product + "_0.jpg" %}
{% set imgpath1 = "/static/build/img/" + product + "_1.jpg" %}
{% set imgpath2 = "/static/build/img/" + product + "_2.jpg" %}
{% set imgpath3 = "/static/build/img/" + product + "_3.jpg" %}
{% set imgpath4 = "/static/build/img/" + product + "_4.jpg" %}
{% block content %}

	<div class="container-fluid top-container" id="product-home-background">
		<div class="row top-row">
			<div class="col-sm-8 col-sm-offset-2">
				{% include intro %}
			</div>
		</div>
	</div>
	<div class="container-fluid off-white-bg">
		<div class="row row-section">
			<div class="col-sm-8 col-sm-offset-2">
				{% include section1 %}
			</div>
		</div>
	</div>
	<div class="container-fluid white-bg">
		<div class="row row-section">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-2">
					<img class="product-image" src={{imgpath2}} alt="" height="300px" width="auto">
				</div>
				<div class="col-sm-4">
					{% include section2 %}
				</div>
			</div>
			<div class="row picture-row">
				<div class="col-sm-4 col-sm-offset-2">
					{% include section3 %}
				</div>
				<div class="col-sm-4">
				<img class="product-image" src={{imgpath3}} alt="" height="300px" width="auto">
			</div>
			</div>
		</div>
	</div>
	<!-- Checkout Form -->
	<div class="container-fluid off-white-bg">
		<div class="row row-section">
			<div class="row">
				<h3 class="section-header">Order Now | Free Shipping</h3>
				<h4 class="order-header">{{name}}</h4>
			</div>
			<div class="row">
				<div class="col-lg-3 col-lg-offset-3">
					<img class="order-product-image" src={{imgpath4}} alt="" height="300px" width="auto">
				</div>
				<div class="col-lg-2">
					<div class="order-wrapper">
						<p class="section-text">${{price}}</p>
						<a href="/checkout/{{product}}" onCLick="dataLayer.push({'event': '{{product}}'})">
							<button class="order-now-button" href="/checkout/{{product}}">ORDER NOW</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}