{% extends "base.html" %}
{% set imgpath1 = "/static/build/img/" + product1 + "_1.jpg" %}
{% set imgpath2 = "/static/build/img/" + product2 + "_2.jpg" %}
{% set imgpath3 = "/static/build/img/" + product3 + "_3.jpg" %}
{% block content %}
	
	<div class="container-fluid top-container" id="product-home-background">
		<div class="row top-row">
			<div class="col-sm-8 col-sm-offset-2">
				{% include intro %}
				<a class="order-now-button" href="/checkout/{{product}}">ORDER NOW</a>
			</div>
		</div>
	</div>
	<div class="container-fluid off-white-bg">
		<div class="row row-section">
			<div class="col-sm-8 col-sm-offset-2">
				{% include section1 %}
			</div>
		</div>
	</div>
	<div class="container-fluid white-bg">
		<div class="row row-section">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-2">
					<img class="product-image" src={{imgpath1}} alt="" height="300px" width="auto">
				</div>
				<div class="col-sm-4">
					{% include section2 %}
				</div>
			</div>
			<div class="row picture-row">
				<div class="col-sm-4 col-sm-offset-2">
					{% include section3 %}
				</div>
				<div class="col-sm-4">
				<img class="product-image" src={{imgpath2}} alt="" height="300px" width="auto">
			</div>
			</div>
		</div>
	</div>
	<!-- Checkout Form -->
	<div class="container-fluid off-white-bg">
		<div class="row row-section">
			<div class="row">
				<h3 class="section-header">Order {{name}} Now | Free Shipping</h3>
				<h4 class="order-header">{{name}}</h4>
			</div>
			<div class="row">
				<div class="col-lg-3 col-lg-offset-3">
					<img class="order-product-image" src={{imgpath3}} alt="" height="300px" width="auto">
				</div>
				<div class="col-lg-2">
					<div class="order-wrapper">
						<p class="section-text">${{price}}</p>
						<div class="input-wrapper">
							<label for="quantity">Quantity</label>
							<input type="text" name="quantity" id="quantity" value="1">
						</div>
						<a class="order-now-button" href= "/checkout/{{product}}" onCLick="dataLayer.push({'event': '{{product}}'})">ORDER NOW</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}